.example-card{
    height: 250px;
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: 20px;
}

.top-card{
    height: 100px;
    width: 500px;
    background-color: darkorange;
    color: white;
    margin: 20px;
}
